<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
    <button class="btn btn-primary btn-block btn-lg">Create New Order</button>
    <br />
  </div>
  <div *ngIf="isCustomer" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
    <button class="btn btn-primary btn-block btn-lg">View My Orders</button>
  </div>
  <div *ngIf="isEmployee" (click)="onShowStoreOrders()" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" align="center">
    <button class="btn btn-primary btn-block btn-lg">View Store Orders</button>
  </div>
</div>

